.container {
  max-width: 36rem;
  padding: 0 1rem;
  margin: 3rem auto 6rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.backToHome {
  margin: 3rem 0 0;
}
.footer{
  text-align: center;
}

.button {
  position: relative;
  padding: 5px 5px;
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.5);
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  text-shadow: 0 0 15px #0000;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  transition: 0.5s;
  z-index: 1;
}

.button:hover {
  color: rgb(255, 31, 31);
  border: 2px solid rgba(0, 0, 0, 0);
  box-shadow: 0 0 0px #0000;
}

.button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0000;
  z-index: -1;
  transform: scale(0);
  transition: 0.5s;
}

.button:hover::before {
  transform: scale(1);
  transition-delay: 0.5s;
  box-shadow: 0 0 10px #0000,
    0 0 30px #0000,
    0 0 60px #0000;
}

.button .span {
  position: absolute;
  background: #0000;
  pointer-events: none;
  border-radius: 2px;
  box-shadow: 0 0 10px #0000,
    0 0 20px #0000,
    0 0 30px #0000,
    0 0 50px #0000,
    0 0 100px #0000;
  transition: 0.5s ease-in-out;
  transition-delay: 0.25s;
}

.button:hover .span {
  opacity: 0;
  transition-delay: 0s;
}

.button .span:nth-child(1),
.button .span:nth-child(3) {
  width: 40px;
  height: 4px;
}

.button:hover .span:nth-child(1),
.button:hover .span:nth-child(3) {
  transform: translateX(0);
}

.button .span:nth-child(2),
.button .span:nth-child(4) {
  width: 4px;
  height: 40px;
}

.button:hover .span:nth-child(1),
.button:hover .span:nth-child(3) {
  transform: translateY(0);
}

.button .span:nth-child(1) {
  top: calc(50% - 2px);
  left: -50px;
  transform-origin: left;
}

.button:hover .span:nth-child(1) {
  left: 50%;
}

.button .span:nth-child(3) {
  top: calc(50% - 2px);
  right: -50px;
  transform-origin: right;
}

.button:hover .span:nth-child(3) {
  right: 50%;
}

.button .span:nth-child(2) {
  left: calc(50% - 2px);
  top: -50px;
  transform-origin: top;
}

.button:hover .span:nth-child(2) {
  top: 50%;
}

.button .span:nth-child(4) {
  left: calc(50% - 2px);
  bottom: -50px;
  transform-origin: bottom;
}

.button:hover .span:nth-child(4 ) {
  bottom: 50%;
}

.progressPosition {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.progress {
  width:120px;
  height:22px;
  border-radius: 20px;
  color:#514b82;
  border:2px solid;
  position: relative;
}
.progress::before {
  content:"";
  position: absolute;
  margin:2px;
  inset:0 100% 0 0;
  border-radius: inherit;
  background:currentColor;
  animation:p6 2s infinite;
}
@keyframes p6 {
    100% {inset:0}
}